img {
    
    margin-top: 10px;
    border-radius: 125px    
}

hr {
    
    height: 10px;
    width: 120px;
    border-color: black;
    
    
}

section {
    
    background-color:orange ;    
    
}